<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Feeding Dublin, a non-profit by our organization is organized to make Dublin hunger free. This organization is established by the support provided by the individual donors and many others.  
        Undoubtedly, your contribution will go a long way in ensuring a reliable supply of meals for our daily wager community during the current lockdowns of COVID-19 pandemic in the region. Your support matters a lot to us.
       
        <br/>
    </p>

</div>
